<div class="alert alert-warning" role="alert">
  CẬP NHẬT DANH MỤC
</div>
<form [formGroup]="categoryForm" (ngSubmit)="onHandleUpdate()">
  <div class="mb-3">
    <input
      type="text"
      formControlName="name"
      placeholder="Tên"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <input
      type="text"
      formControlName="img"
      placeholder="Ảnh"
      class="form-control"
    />
  </div>

  <button type="submit" [disabled]="categoryForm.invalid" class="btn btn-primary bg-block btn-lg">
    Sửa
  </button>
</form>
