<div class="alert alert-info" role="alert">
    THÊM MỚI DANH MỤC
  </div>

<form (ngSubmit)="onHandleSubmit()" [formGroup]="categoryForm">
    <div class="mb-3">
        <input
            type="text"
            formControlName="name"
            name="name"
            placeholder="Tên"
            class="form-control"
        />
    </div>
    <div class="mb-3">
        <input
            type="text"
            formControlName="img"
            name="img"
            placeholder="Ảnh"
            class="form-control"
        />
    </div>

    <button type="submit" [disabled]="!categoryForm.valid" class="btn btn-primary bg-block btn-lg">
        Thêm sản phẩm
    </button>
</form>