<div class="container-md">
    <div class="newdetail" style="margin: 20px;">
        <div class="newdetail-heder">	
            <h1 class="newdetail-heder-title text-center" *ngIf="blog">{{ blog.title }}</h1>	
            <p *ngIf="blog" class="text-center">{{ blog.descript_1 }}</p>
            <div class="newdetail-header-img" >
                <img [src]="blog.img" alt="" style="width: 50%;">
            </div>           								
        </div>
        <p *ngIf="blog" style="margin-top: 10px;">{{ blog.descript_2 }}</p>
      
    </div>
   </div>
